<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<th:block th:fragment="navLayout">
		<link th:href="@{/css/include/nav.css}" rel="stylesheet">
		<nav>
			<div id="nav_wrap">
				<div class="menu">
					<ul>
						<!-- 인증되지 않은 유저 -->
						<th:block sec:authorize="isAnonymous()">
							<li>
								<a th:href="@{/login}">로그인</a>
							</li>
						
							<li>
								<a th:href="@{/signup}">회원가입</a>
							</li>
						</th:block>
						
						<!-- 인증한 유저 -->
						<th:block sec:authorize="isAuthenticated()">
							<li>
								<!-- action, method 두 개는 SpringSecurity와의 약속 -->
								<form th:action="@{/logout}" method="POST">
									<input type="submit" value="로그아웃">
								</form>
							</li>
						
							<li>
								<a th:href="@{/board}">게시판</a>
							</li>
							<li>
								<!-- 길어서 쓸때 조심하자 -->
								<a th:href="@{/member/{memberNo}/update(memberNo=${#authentication.principal.member.memberNo})}">회원 수정</a>
							</li>
							<li>
								<a th:onclick="|javascript:memberDelete('${#authentication.principal.member.memberNo}')|">회원 탈퇴</a>
							</li>
							<li>
								<a th:href="@{/chat/list}">채팅 하기</a>
							</li>
						</th:block>
					
						<!-- <li>
							<a th:href="@{/board/create}">게시글 등록</a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>

	<script>
			const memberDelete = function(memberNo){
				let check = confirm('탈퇴하시겠습니까?');
				if(check){
				fetch("/member/"+memberNo, {
					method : 'delete',
					headers : {
		              'header': document.querySelector('meta[name="_csrf_header"]').content,
		              'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
					},
					body : memberNo
				})
				.then(response => response.json())
				.then(data => {
					alert(data.res_msg);
					if(data.res_code == "200"){
						location.href="/";
					}
				})
				.catch(error => {
					alert(data.res_msg);
				})
					
				}
			};
		</script>

</th:block>
</html>